---
interface Props {
  item: string
}

const { item } = Astro.props
---

<li>
  <a
    class="group flex items-center py-3 nav-item"
    href={`#${item.toLowerCase()}`}
  >
    <span>{item}</span>
  </a>
</li>
