---
import NavItem from "@components/NavItem.astro"
---

<nav>
  <ul class="mt-16">
    <NavItem item="About" />
    <NavItem item="Experience" />
    <NavItem item="Projects" />
    <NavItem item="Contact" />
  </ul>
</nav>